<h1>Pantalla Error</h1>


<ul>
    <li>
        <a routerLink="/auth/header">
            Ir a Inicio
        </a>
    </li>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Ir a Register
        </a>
    </li>
    <li>
        <a routerLink="/star-wars/list">
            Ir a List
        </a>
    </li>
    <li>
        <a routerLink="/star-wars/ship">
            Ir a Ships
        </a>
    </li>
    <li>
        <a routerLink="/star-wars/ship/:id">
            Ir a Ships:id
        </a>
    </li>
</ul>