<div class=" animate__animated animate__zoomIn">

  <div class="row">
    <div class="d-flex justify-content-center mt-1 ">
      <img src="/assets/Star-Wars22.jpg" alt="star wars logo" style="width: 35rem;">
    </div>
    <div class="d-flex justify-content-center">
      <a routerLink="login">
        <button class="btn btn-dark px-5 mx-3">LOGIN</button>
      </a>
      <a routerLink="/auth/register">
        <button class="btn btn-dark px-5 mx-3">REGISTER</button>
      </a>
    </div>
  </div>
</div>
    
   
    
    <router-outlet></router-outlet>
